<a href="https://colab.research.google.com/github/AkankshaB123/python/blob/main/Analytics_AccessData(Session13).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Task**
1. Load the iris data into a Notebook
2. Find the Mean Sepal Length
3. Find the third quartile value of Sepal Width
4. Find the Number of Unique classes of Flowers
5. The Most frequent Flower and it's frequency
6. Find the Memory Usage of the Dataset
7. Find the distribution of data types
8. Max Petal Width

In [41]:
import pandas as pd
from google.colab import files

df = pd.read_csv('/content/sample_data/iris.csv')

df.head()

   sepal.length  sepal.width  petal.length  petal.width variety
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa
3           4.6          3.1           1.5          0.2  Setosa
4           5.0          3.6           1.4          0.2  Setosa

In [ ]:
df.describe()

       sepal.length  sepal.width  petal.length  petal.width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [ ]:
#Find the Number of Unique Classes of Flowers
df.describe(include = 'all')
#Note: df.describe() default displays only numbers not class
#Output: View "Variety" column and see Unique rows are 3.
#Most frequent can be anything! - Total values: 150, equally balanced dataset.

        sepal.length  sepal.width  petal.length  petal.width variety
count     150.000000   150.000000    150.000000   150.000000     150
unique           NaN          NaN           NaN          NaN       3
top              NaN          NaN           NaN          NaN  Setosa
freq             NaN          NaN           NaN          NaN      50
mean        5.843333     3.057333      3.758000     1.199333     NaN
std         0.828066     0.435866      1.765298     0.762238     NaN
min         4.300000     2.000000      1.000000     0.100000     NaN
25%         5.100000     2.800000      1.600000     0.300000     NaN
50%         5.800000     3.000000      4.350000     1.300000     NaN
75%         6.400000     3.300000      5.100000     1.800000     NaN
max         7.900000     4.400000      6.900000     2.500000     NaN

In [ ]:
#Find the Memory Usage of the Dataset.
#Rationale: Memory Usage > Cloud Computer Usage
#Is there a need to add hard drive space or processing cloud virtual machine
df.info() #6.0+ KB

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal.length  150 non-null    float64
 1   sepal.width   150 non-null    float64
 2   petal.length  150 non-null    float64
 3   petal.width   150 non-null    float64
 4   variety       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

# **Access Stuff in a Data Frame**
1. Access a row
2. Access multiple rows in sequence
3. Access multiple rows, not in sequence
4. Access a column
5. Access multiple columns in sequence
6. Access multiple columns, not in sequence
7. Access a single cell

In [ ]:
#First row
df.loc[0]

sepal.length       5.1
sepal.width        3.5
petal.length       1.4
petal.width        0.2
variety         Setosa
Name: 0, dtype: object

In [ ]:
#100th row
df.loc[99]

sepal.length           5.7
sepal.width            2.8
petal.length           4.1
petal.width            1.3
variety         Versicolor
Name: 99, dtype: object

In [ ]:
#Assume df is a dict and column -
#d1 = {"A" : 50, "B" : 12}
df['sepal.width']

0      3.5
1      3.0
2      3.2
3      3.1
4      3.6
      ...
145    3.0
146    2.5
147    3.0
148    3.4
149    3.0
Name: sepal.width, Length: 150, dtype: float64

In [ ]:
df.loc[4:20]

    sepal.length  sepal.width  petal.length  petal.width variety
4            5.0          3.6           1.4          0.2  Setosa
5            5.4          3.9           1.7          0.4  Setosa
6            4.6          3.4           1.4          0.3  Setosa
7            5.0          3.4           1.5          0.2  Setosa
8            4.4          2.9           1.4          0.2  Setosa
9            4.9          3.1           1.5          0.1  Setosa
10           5.4          3.7           1.5          0.2  Setosa
11           4.8          3.4           1.6          0.2  Setosa
12           4.8          3.0           1.4          0.1  Setosa
13           4.3          3.0           1.1          0.1  Setosa
14           5.8          4.0           1.2          0.2  Setosa
15           5.7          4.4           1.5          0.4  Setosa
16           5.4          3.9           1.3          0.4  Setosa
17           5.1          3.5           1.4          0.3  Setosa
18           5.7          3.8           1.7          0.3  Setosa
19           5.1          3.8           1.5          0.3  Setosa
20           5.4          3.4           1.7          0.2  Setosa

In [ ]:
df[['sepal.length','sepal.width']]

     sepal.length  sepal.width
0             5.1          3.5
1             4.9          3.0
2             4.7          3.2
3             4.6          3.1
4             5.0          3.6
..            ...          ...
145           6.7          3.0
146           6.3          2.5
147           6.5          3.0
148           6.2          3.4
149           5.9          3.0

[150 rows x 2 columns]

# **Task**
1. Accessing the 14th column
2. Accessing the 12th and 15th column
3. Accessing the 999th row
4. Accessing the rows from 320:420
5. Access the 5th column, second row CELL VALUE

In [67]:
import pandas as pd
listings = pd.read_csv('/content/sample_data/listings.csv')

listings.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,49091,COZICOMFORT LONG TERM STAY ROOM 2,266763,Francesca,North Region,Woodlands,1.44255,103.79580,Private room,83,180,1,2013-10-21,0.01,2,365
1,50646,Pleasant Room along Bukit Timah,227796,Sujatha,Central Region,Bukit Timah,1.33235,103.78521,Private room,81,90,18,2014-12-26,0.28,1,365
2,56334,COZICOMFORT,266763,Francesca,North Region,Woodlands,1.44246,103.79667,Private room,69,6,20,2015-10-01,0.20,2,365
3,71609,Ensuite Room (Room 1 & 2) near EXPO,367042,Belinda,East Region,Tampines,1.34541,103.95712,Private room,206,1,14,2019-08-11,0.15,9,353
4,71896,B&B Room 1 near Airport & EXPO,367042,Belinda,East Region,Tampines,1.34567,103.95963,Private room,94,1,22,2019-07-28,0.22,9,355

In [12]:
listings.columns

Index(['id', 'name', 'host_id', 'host_name', 'neighbourhood_group',
       'neighbourhood', 'latitude', 'longitude', 'room_type', 'price',
       'minimum_nights', 'number_of_reviews', 'last_review',
       'reviews_per_month', 'calculated_host_listings_count',
       'availability_365'],
      dtype='object')

In [14]:
#typecast and then 14th column - starting from 0
list(listings.columns)[13]

'reviews_per_month'

In [17]:
listings[list(listings.columns)[13]]

0       0.01
1       0.28
2       0.20
3       0.15
4       0.22
        ...
7902     NaN
7903     NaN
7904     NaN
7905     NaN
7906     NaN
Name: reviews_per_month, Length: 7907, dtype: float64

In [18]:
#2
list(listings.columns)[11], list(listings.columns)[14]

('number_of_reviews', 'calculated_host_listings_count')

In [23]:
#typecasted twice because this is in the form of a tuple
list([list(listings.columns)[11] , list(listings.columns)[14]])

['number_of_reviews', 'calculated_host_listings_count']

In [24]:
#12th and 14th column
listings[list([list(listings.columns)[11] , list(listings.columns)[14]])]

      number_of_reviews  calculated_host_listings_count
0                     1                               2
1                    18                               1
2                    20                               2
3                    14                               9
4                    22                               9
...                 ...                             ...
7902                  0                              31
7903                  0                              34
7904                  0                               3
7905                  0                               2
7906                  0                               7

[7907 rows x 2 columns]

In [26]:
listings.loc[998]

id                                                        9320962
name                              Sea view room with private bath
host_id                                                  25151260
host_name                                                 Antonio
neighbourhood_group                                   East Region
neighbourhood                                               Bedok
latitude                                                  1.31106
longitude                                               103.93683
room_type                                            Private room
price                                                          67
minimum_nights                                                  3
number_of_reviews                                              80
last_review                                            2019-08-12
reviews_per_month                                             1.8
calculated_host_listings_count                                  1
availability_365                                              345
Name: 998, dtype: object

In [27]:
listings.loc[320:420]

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
320,4600559,High Floor Double Room - Dover Area,19925548,James,Central Region,Queenstown,1.30489,103.78451,Private room,81,1,2,2015-09-14,0.04,1,0
321,4608708,Charming & design apt near Orchard,8098719,Jasmine,Central Region,River Valley,1.29238,103.83978,Entire home/apt,287,4,3,2016-02-11,0.05,1,0
322,4613432,Nicely furnished apt close to City,23722617,Alex,Central Region,Geylang,1.31307,103.88623,Entire home/apt,119,10,23,2019-02-17,0.40,84,88
323,4616523,Cozy apartment near the city,23722617,Alex,Central Region,Geylang,1.31464,103.88642,Entire home/apt,85,4,80,2019-08-13,1.40,84,55
324,4616537,Comfortable apt home away from home,23722617,Alex,Central Region,Geylang,1.31450,103.88607,Entire home/apt,94,5,76,2019-08-03,1.32,84,75
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
416,5355703,Master Rm 70L2 nr Expo/CBP/Airport/Boeing/CGH,4705949,Kit,East Region,Tampines,1.34144,103.95809,Private room,54,4,29,2019-04-27,0.54,13,75
417,5355795,S2 @ City Central,25116861,Studios,Central Region,Rochor,1.30402,103.85423,Entire home/apt,115,2,198,2019-08-09,3.61,10,0
418,5369727,Huge Room in the heart of Singapore,16170189,Kramer,Central Region,Singapore River,1.29224,103.84259,Private room,146,1,0,NaN,NaN,2,0
419,5376182,S7 @ City Central,25116861,Studios,Central Region,Rochor,1.30376,103.85471,Entire home/apt,119,2,170,2019-08-07,3.19,10,105
420,5376240,S6 @ City Central,25116861,Studios,Central Region,Rochor,1.30543,103.85647,Entire home/apt,115,2,188,2019-08-11,3.44,10,96

In [31]:
#Access the 5th column, second row CELL VALUE
listings.loc[1,listings.columns[4]]

'Central Region'

Note: .to_csv() - whenever notebook gets closed it's in your RAM not your hard disk if you want to save permanently then save to your hard disk (local)

In [34]:
temp = listings[['name','host_id']]
temp["Column3"] = 1

/tmp/ipython-input-1859113548.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp["Column3"] = 1

In [35]:
temp.head(3)

                                name  host_id  Column3
0  COZICOMFORT LONG TERM STAY ROOM 2   266763        1
1    Pleasant Room along Bukit Timah   227796        1
2                        COZICOMFORT   266763        1

In [38]:
temp.to_csv("/content/sample_data/new_file.csv", index = False)

Note: By default - index is added(primary key) in each csv. also, so you can check if indexes are corrupted. Use index=False to remove index.

---

In [40]:
#Use-case of shape: --->
#whenever merging 2 dataframes
#concatenating 2 dataframes (union/union all)
#concatenate: 10 rows 5 columns, 50 rows 5 columns: 60,5
listings.shape

(7907, 16)

In [47]:
listings.drop(columns = ['calculated_host_listings_count'], inplace = True)

In [48]:
listings.columns

Index(['id', 'name', 'host_id', 'host_name', 'neighbourhood_group',
       'neighbourhood', 'latitude', 'longitude', 'room_type', 'price',
       'number_of_reviews', 'last_review', 'reviews_per_month',
       'availability_365'],
      dtype='object')

# Filtering (Analytics-Started)**bold text**

- filter by columns - INTUITIVE UNDERSTANDING bELOW!
- will be working on pandas series & not df now.

In [49]:
listings['neighbourhood_group'] == "Central Region"

0       False
1        True
2       False
3       False
4       False
        ...
7902     True
7903     True
7904     True
7905     True
7906     True
Name: neighbourhood_group, Length: 7907, dtype: bool

In [53]:
#Remember () is mandatory when multiple conditions
listings[(listings['host_name'] == 'Francesca') & (listings['neighbourhood'] == 'Woodlands')]

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,number_of_reviews,last_review,reviews_per_month,availability_365
0,49091,COZICOMFORT LONG TERM STAY ROOM 2,266763,Francesca,North Region,Woodlands,1.44255,103.79580,Private room,83,1,2013-10-21,0.01,365
2,56334,COZICOMFORT,266763,Francesca,North Region,Woodlands,1.44246,103.79667,Private room,69,20,2015-10-01,0.20,365

# **Filtering Assignment**
1. Display Data for all Private Rooms in the Central Region that have at least 10 reviews, cost more than 50.
2. Display all the listings of the top host in the data
3. Find the distribution of room_types for the most listed neighborhood.

In [64]:
listings[ (listings['room_type'] == 'Private room') &
          (listings['neighbourhood_group'] == 'Central Region') &
          (listings['number_of_reviews'] >= 10) &
          (listings['price'] > 50)
]

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,number_of_reviews,last_review,reviews_per_month,availability_365
1,50646,Pleasant Room along Bukit Timah,227796,Sujatha,Central Region,Bukit Timah,1.33235,103.78521,Private room,81,18,2014-12-26,0.28,365
13,294281,5 mins walk from Newton subway,1521514,Elizabeth,Central Region,Newton,1.31125,103.83816,Private room,65,125,2019-08-22,1.35,336
19,369141,5mins from Newton Train Station,1521514,Elizabeth,Central Region,Newton,1.31150,103.83759,Private room,60,84,2019-07-10,1.17,340
20,369145,5 mins walk from Newton MRT,1521514,Elizabeth,Central Region,Newton,1.31159,103.83805,Private room,60,157,2019-08-15,1.75,349
21,395191,Heritage Apartment Room near Orchard,1975201,Adi,Central Region,River Valley,1.29345,103.83562,Private room,56,27,2017-08-07,0.36,364
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7000,35180729,SPACIOUS CLEAN ROOM WITH 2 SINGLE BEDS NEAR BUGIS,263831162,Lucinda,Central Region,Downtown Core,1.29680,103.85578,Private room,67,24,2019-08-21,8.37,58
7020,35265440,STYLISH COSY ROOM NEAR BUGIS,263831162,Lucinda,Central Region,Downtown Core,1.29867,103.85764,Private room,75,18,2019-08-24,7.40,35
7196,35847292,Orchard guest room@Orchard Road@Orchard@Singapore,268727668,Junio,Central Region,Newton,1.30537,103.83381,Private room,94,12,2019-08-23,5.63,44
7446,36813787,"Private Single Cabin ,5 min.walk to Chinatown MRT",223971227,Fang,Central Region,Outram,1.28116,103.84417,Private room,69,12,2019-08-27,12.00,2
7447,36817766,"Private Single Cabin,5 min walk to Chinatown MRT",223971227,Fang,Central Region,Outram,1.28076,103.84563,Private room,69,13,2019-08-27,13.00,1

In [86]:
#Display all the listings of the top host in the data
listings[listings['host_name'] == listings['host_name'].value_counts().index[0]]

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
507,6079533,Master room 2 with a pool view,31557595,Jay,East Region,Pasir Ris,1.35894,103.96605,Private room,31,90,0,NaN,NaN,2,332
709,7517671,Super Big Master room,10064384,Jay,Central Region,Downtown Core,1.27377,103.84523,Private room,200,90,96,2019-02-13,2.15,10,347
712,7536368,Raffles Master Room,10064384,Jay,Central Region,Downtown Core,1.27400,103.84603,Private room,160,90,11,2018-11-30,0.28,10,364
714,7537301,Ocean view Master Room in Penthouse,10064384,Jay,Central Region,Downtown Core,1.27843,103.84614,Private room,169,90,37,2019-01-06,0.81,10,354
715,7537485,Common Room,10064384,Jay,Central Region,Downtown Core,1.27450,103.84656,Private room,150,90,30,2019-01-04,0.70,10,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7745,37788787,Comfy & Relaxing Studio APT near Farrer Park MRT,66406177,Jay,Central Region,Kallang,1.31200,103.85628,Entire home/apt,99,30,0,NaN,NaN,274,334
7746,37789401,Comfy & Relaxing 1-Bedroom APT near FarrerPark...,66406177,Jay,Central Region,Kallang,1.31229,103.85829,Entire home/apt,111,30,0,NaN,NaN,274,235
7747,37790507,City located 2-bedroom apartment * BRAND NEW*,66406177,Jay,Central Region,Kallang,1.30347,103.86325,Entire home/apt,161,30,0,NaN,NaN,274,300
7808,37924009,Superior 1BR Residence near Farrer Park MRT,66406177,Jay,Central Region,Kallang,1.31312,103.85894,Entire home/apt,136,30,0,NaN,NaN,274,303
7810,37924392,1-Bedroom apartment near Farrer Park,66406177,Jay,Central Region,Kallang,1.31348,103.86028,Entire home/apt,136,30,0,NaN,NaN,274,353

In [104]:
#3.Find the distribution of room_types for the most listed neighborhood
#Nested concept
listings[listings['neighbourhood'] == listings['neighbourhood'].value_counts().index[0]]['room_type'].value_counts()

room_type
Entire home/apt    521
Private room       438
Shared room         84
Name: count, dtype: int64

In [108]:
listings['neighbourhood'].value_counts().index[0:3]

Index(['Kallang', 'Geylang', 'Novena'], dtype='object', name='neighbourhood')

In [109]:
listings['neighbourhood'].value_counts().values[0:3]

array([1043,  994,  537])

In [105]:
#Whole data of room_type
listings['room_type'].value_counts()

room_type
Entire home/apt    4132
Private room       3381
Shared room         394
Name: count, dtype: int64

In [75]:
#.value_counts - method
listings['room_type'].value_counts()

room_type
Entire home/apt    4132
Private room       3381
Shared room         394
Name: count, dtype: int64

In [76]:
#.value_counts - method : index attribute : for unique
listings['room_type'].value_counts().index

Index(['Entire home/apt', 'Private room', 'Shared room'], dtype='object', name='room_type')

In [78]:
#.value_counts - method : values attribute : for freq
listings['room_type'].value_counts().values
#Business use-case: Creating pie chart

array([4132, 3381,  394])

In [79]:
#Only unique
listings['room_type'].unique()

array(['Private room', 'Entire home/apt', 'Shared room'], dtype=object)

In [80]:
#Unique + Count
listings['room_type'].nunique()

3

In [ ]:
#Distribution of data
#Uniform or Skewed
#For numerical distribution is seen through .describe()
#For pandas series only/categorical - .value_counts()

In [66]:
listings.columns

Index(['id', 'name', 'host_id', 'host_name', 'neighbourhood_group',
       'neighbourhood', 'latitude', 'longitude', 'room_type', 'price',
       'number_of_reviews', 'last_review', 'reviews_per_month',
       'availability_365'],
      dtype='object')

In [60]:
#Find the distribution of room_types for the most listed neighborhood.
listings[['room_type','number_of_reviews']].describe(include = 'all')

              room_type  number_of_reviews
count              7907        7907.000000
unique                3                NaN
top     Entire home/apt                NaN
freq               4132                NaN
mean                NaN          12.807386
std                 NaN          29.707746
min                 NaN           0.000000
25%                 NaN           0.000000
50%                 NaN           2.000000
75%                 NaN          10.000000
max                 NaN         323.000000

In [58]:
listings['room_type'].value_counts()

room_type
Entire home/apt    4132
Private room       3381
Shared room         394
Name: count, dtype: int64