<a href="https://colab.research.google.com/github/AkankshaB123/python/blob/main/For_loop.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Task - Iterate through the loop and print - which number is odd and which is even

In [1]:
list_of_values = [1,5,12,46,76,51,23]

In [ ]:
# 1 is odd
# 5 is odd
# 12 is even
# 46 is even

In [2]:
for i in list_of_values:
  if i%2 == 0:
    print(i,"is even")
  else:
    print(i,"is odd")

1 is odd
5 is odd
12 is even
46 is even
76 is even
51 is odd
23 is odd