<a href="https://colab.research.google.com/github/AkankshaB123/python/blob/main/MissingValues_Duplicate_Func_Understanding(Session15).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Missing Values Understanding**

In [2]:
import pandas as pd
df = pd.read_csv("/content/sample_data/titanic3.csv")
df.head(5)

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1.0,1.0,"Allen, Miss. Elisabeth Walton",female,29.0000,0.0,0.0,24160,211.3375,B5,S,2,NaN,"St Louis, MO"
1,1.0,1.0,"Allison, Master. Hudson Trevor",male,0.9167,1.0,2.0,113781,151.5500,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON"
2,1.0,0.0,"Allison, Miss. Helen Loraine",female,2.0000,1.0,2.0,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
3,1.0,0.0,"Allison, Mr. Hudson Joshua Creighton",male,30.0000,1.0,2.0,113781,151.5500,C22 C26,S,NaN,135.0,"Montreal, PQ / Chesterville, ON"
4,1.0,0.0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0000,1.0,2.0,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"

In [3]:
df.isnull().sum()/len(df)*100

pclass        0.076336
survived      0.076336
name          0.076336
sex           0.076336
age          20.152672
sibsp         0.076336
parch         0.076336
ticket        0.076336
fare          0.152672
cabin        77.480916
embarked      0.229008
boat         62.900763
body         90.763359
home.dest    43.129771
dtype: float64

1) Identify missing values are handlable - replace by mean(), median(), mode()
- Understand the premise of the problem given below:
- Example:
- 10 columns of data - 1 was my actual column to be predicted, 9 input columns.
- 9 input columns - 1 column - 12% missing data - heavily dependent on the remaining 8.
- But I can't use standard technique: mean(), median() and mode()
- For eg. age column -- replace by what?
- Solution: 9 columns - build a model to handle the missing data.
- 8 columns input - 1 (missing column) is the output - predict the missing values
- then use the 9 column (missing value handled) to predict the 10th actual predicted column

In [5]:
#Interesting thing -
#1. I already know certain decisions/facts that I should ignore
#Exact case 1:
#1. body - 90% missing values, no way I can replace 90% with 10%
#2. Same for 62% and 77%

df.isnull().sum()/len(df)*100

pclass        0.076336
survived      0.076336
name          0.076336
sex           0.076336
age          20.152672
sibsp         0.076336
parch         0.076336
ticket        0.076336
fare          0.152672
cabin        77.480916
embarked      0.229008
boat         62.900763
body         90.763359
home.dest    43.129771
dtype: float64

# **Case 2.**

In [11]:
#Exact Case 2. It's not necessary that the values that are NULL are actually missing
#Step1.
df['survived'].value_counts()/len(df)
#Step2.
#Known: 61% of the people didn't survive
#Known: 38% of the people did survive
#Q: reg. boat: If 61% didn't survived and 62% missing data of boat - the one's who didn't survive we don't have data for that
#Q: reg. body: body data because 38% people did survive we don't have body data(90% missing) for those people since we don't have that - that means we can't handle this column
#Conclusion: Remove "body" column (logically not sound) - more than it is going to help your model come to a conclusion.

survived
0.0    0.617557
1.0    0.381679
Name: count, dtype: float64

In [ ]:
#Ideal case scenario:
#1TB -> 5% missing values ->  Drop the missing value

# **Case 3**
- Data Quality Analysis becomes very crucial.
- Context: Is it actually a missing data or just something that was not available in the first space

In [12]:
#In housing data's context
#Swimming pool 90% data is missing - understand intuitevely it's just replace with "not existent/0"
#Note that is not a missing value it's just that value is not available

# **Dropping Duplicate Rows or Columns**

Think logically or on an intuitive level in such cases, another interesting question:
1) having duplicate columns or duplicate rows will make your model perform better?
- Soln: will take time to compute output

- It can never improve the performance of other models (from various discussions with pioneer in this field) because no new information is being passed to the model

# ***Applying a Function Over All Elements in a Column***

In [15]:
df = pd.read_csv("/content/sample_data/listings.csv")
df.head(2)

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,49091,COZICOMFORT LONG TERM STAY ROOM 2,266763,Francesca,North Region,Woodlands,1.44255,103.79580,Private room,83,180,1,2013-10-21,0.01,2,365
1,50646,Pleasant Room along Bukit Timah,227796,Sujatha,Central Region,Bukit Timah,1.33235,103.78521,Private room,81,90,18,2014-12-26,0.28,1,365

In [16]:
def upper_case_function(x):
  return str(x).upper()

In [17]:
upper_case_function("abc")

'ABC'

In [18]:
#.apply method, applied to pandas Series --- done in super fast manner vs. a loop
df['neighbourhood_group'].apply(upper_case_function)

0         NORTH REGION
1       CENTRAL REGION
2         NORTH REGION
3          EAST REGION
4          EAST REGION
             ...
7902    CENTRAL REGION
7903    CENTRAL REGION
7904    CENTRAL REGION
7905    CENTRAL REGION
7906    CENTRAL REGION
Name: neighbourhood_group, Length: 7907, dtype: object

In [20]:
#this one takes a lot of time - Approach 2
for i in range(len(df)):
  df.loc[i,'host_name'] = str(df.loc[i,"host_name"]).upper()

In [21]:
df.head(2)

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,49091,COZICOMFORT LONG TERM STAY ROOM 2,266763,FRANCESCA,North Region,Woodlands,1.44255,103.79580,Private room,83,180,1,2013-10-21,0.01,2,365
1,50646,Pleasant Room along Bukit Timah,227796,SUJATHA,Central Region,Bukit Timah,1.33235,103.78521,Private room,81,90,18,2014-12-26,0.28,1,365