<a href="https://colab.research.google.com/github/AkankshaB123/python/blob/main/SetAssignment(Session6).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Task - 2

* Let's create 3 sets
* s1 = {1,2,3,4,5}
* s2 = {3,8,5,9,10}
* s3 = {1,2,9}
* Add 100 to each one of them
* Find their intersection: s1 and s2, s2 and s3, s3 and s1
* Is s3 a subset of (s1 union s2)?
* Find the NET sorted values using all elements in all 3 sets - Descending
* Convert the sets after union to a lit and then a tuple and access the last value

In [13]:
s1 = {1,2,3,4,5}
s2 = {3,8,5,9,10}
s3 = {1,2,9}

In [14]:
s1.add(100)
s2.add(100)
s3.add(100)

In [15]:
print(s1.intersection(s2))
print(s2.intersection(s3))
print(s3.intersection(s1))

{3, 100, 5}
{9, 100}
{1, 2, 100}

In [16]:
s3.issubset(s1.union(s2))

True

In [17]:
#Find the NET sorted values using all elements in all 3 sets - Descending
sorted(s1.union(s2).union(s3), reverse = True)

[100, 10, 9, 8, 5, 4, 3, 2, 1]

In [18]:
#Convert the sets after union to a list and then a tuple and access the last value
list(tuple(s1.union(s2).union(s3)))[-1]

10

In [19]:
list(s1.union(s2).union(s3))

[1, 2, 3, 4, 5, 100, 8, 9, 10]

In [20]:
tuple(s1.union(s2).union(s3))

(1, 2, 3, 4, 5, 100, 8, 9, 10)

In [21]:
s1.union(s2,s3)
#See 100's orientation
#classic problem --> non-index to indexed data type/ existence vs non-existence
#set has no concept of index, it's all random

{1, 2, 3, 4, 5, 8, 9, 10, 100}